/* .not-found {

    width: 95.5vw;
    background-color: rgba(255, 0, 0, 0.444);
    padding: 30px;
    display: flex;
    justify-content: center;

}

.not-found p {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
} */