.modal {
    border: none;
    width: 97.62vw;
    top: 0;
    height: 95vh;
    background-color: var(--transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal .modal-content {
    background-color: var(--white);
    padding: 2rem;
    margin: 3rem;
    border-radius: 0.938rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.modal .modal-content .modal-header h2 {
    font-size: 1.75rem;
    top: -0.7rem;
    position: relative;
}

.modal .modal-content .modal-header .close {
    color: var(--shadown-medium);
    top: -1.5rem;
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}


.modal .modal-content .input-container {
    width: 100%;
    display: flex;
    flex-direction: column
}

.modal .modal-content .input-container input {
    border-radius: 8px;
    padding-right: -10px;
    border: 2px solid var(--shadown);
    color: ver(--transparent);
    resize: vertical;
    padding: 0.8rem;
    margin: 0 0 0.313rem 0;
    font-size: 1em;
}

.modal .modal-content .input-container label {
    color: var(--black);
    font-weight: 600;
}

.btn-secondary {
    background-color: var(--color2);
    position: initial;
    margin-top: 20px;
    border-radius: 8px;
    padding: 0.50rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-secondary:hover {
    background-color: var(--color1);
    transform: scale(1);

}


@media screen and (max-width: 480px) {

    .modal {
        width: auto;
    }

    .modal .modal-content {
        width: 70%;
    }

}

@media screen and (max-width: 768px) {
    .modal .modal-content {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {

    .modal {
        width: auto;
        height: 99vh;
    }

    .modal .modal-content {
        width: 60%;
    }
}