.modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay .modal-content {
    background-color: white;
    padding: 2rem 5rem 2rem 3rem;
    display: flex;
    border-radius: 0.938rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 31.25rem;
}

.modal-overlay .modal-content .close {
    color: #aaa;
    right: 25.5rem;
    top: 8rem;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-overlay .modal-content input {

    width: 100%;
    border-radius: 8px;
    padding: 1em 1em 1em 0.5em;
    border: 2px solid #c6c5c5c5;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.313rem;
    font-size: 1em;
    margin: 0.188rem 0 0.313rem 0;
}

.modal-overlay .modal-content label {
    color: #242424;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}


.modal-overlay .modal-content h2 {
    font-size: 1.7em;
}

.modal-overlay .modal-content .btn-secondary {
    position: initial;
    width: 105.5%;
    margin-top: 20px;
    border-radius: 8px;
    padding: 0.80rem;
    font-size: 1.2rem;
}

.modal-overlay .modal-content .btn-secondary:hover {
    background-color: #3a44f8;
    transform: scale(1);
}