.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    padding: 1em;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 3.438rem;
}

@media screen and (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1024px) {}