* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

:root {
  --color1: #d94a4a;
  --color3: #F2B4AE;
  --color4: #a0ded6;
  --color5: #F2DEA0;
  --black: #1C261E;
  --white: #ffffff;
  --shadown: #c6c5c5c5;
  --shadown-medium: #aaa;
  --transparent: rgba(0, 0, 0, 0.9);
}