* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
}

:root {
  --color1: #1693a5;
  --color2: #45b5c4;
  --color3: #7ececa;
  --color4: #a0ded6;
  --color5: #c7ede8;
  --black: #1c1c1c;
  --white: #ffffff;
  --shadown: #c6c5c5c5;
  --shadown-medium: #aaa;
  --transparent: rgba(0, 0, 0, 0.9);
}